body {
  font-family: sans-serif;
  background-color: #8c8c9c;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 50px;
  margin-left: 50px;
}

.upperbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.table {
  display: flex;
  flex-flow: column nowrap;
  font-size: 0.8rem;
  line-height: 1.5;
  flex: 1 1 auto;
}

.th {
  display: none;
  font-weight: 700;
  background-color: #f2f2f2;
}

.th > .td {
  white-space: normal;
  color: rgb(49, 49, 70);
  justify-content: left;
  background-color: #8c8c9c;
}

.tr {
  width: 100%;
  border-radius: 5px;
  display: flex;
  flex-flow: row nowrap;
}

.tr:nth-of-type(even) {
  background-color: #f0f8fb;
}

.tr:nth-of-type(odd) {
  background-color: #f0f8fb;
}

.td {
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 1;
  flex-basis: 0;
  padding: 0.5em;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0px;
  white-space: nowrap;
  border-bottom: solid #8c8c9c;
}

.btns {
  margin-top: 10px;
  margin-right: 1px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}
